.body{
    font-family: Areal, Helvetica, sans-serif;
}
.relative{
    position: relative;
}
.heading1{
    font-size: 24px;
    font-weight: 600;
    padding-top: 100px;
    color: rgb(245, 147, 27);
    position: absolute;
    display: flex-column;
    justify-content:center;
    background-color: rgba(7, 6, 3,);
    inset: 0px;
    justify-items: center;
}
.xx{
    display: flex;
    justify-content: space-between;
    gap:20px;
    width:30px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 200px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    inset: 0px;
}
.buttonl{
    background-color: #f0a61d;
    color: rgb(4, 16, 25);
    cursor:pointer;
    border-style: inherit;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    border-width: 2px;
    border-radius: 4px;
    padding: 4px 10px;
    text-align: center;
    display: inline-block;
    font-size: medium;
    padding-right: 20px;
}
.buttons{
    background-color: #f0a61d;
    color: rgb(4, 16, 25);
    cursor:pointer;
    border-style: inherit;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    border-width: 2px;
    border-radius: 4px;
    padding: 4px 10px;
    text-align: center;
    display: inline-block;
    font-size: medium;
    padding-right: 20px;
    padding-left: 15px;
}
.buttone{
        width: 170px;
        height: 50px;
        background-color: #ffa726; /* Warm orange */
        border-radius: 10px; /* Smooth curved edges */
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(11, 11, 11);
        font-size: medium;
      
}
.top{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.239);
}
.toplink{
    color:#f0a61d;
    cursor: pointer;
    padding-left: 10px;
    padding-bottom: 20px;
}

